*{
  text-align: center;
  background-color: antiquewhite;

}
.board{
  width: 75vw;
  height: 75vw;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  margin: 15px auto;
  padding: 0;
  justify-content: space-evenly;
}

.square{
  width: calc(25vw - 1.5px);
  height: calc(25vw - 1px);
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

.square img{
  max-width: 65px;
}

.initialBtns{
  margin: 20px;

}

.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto 25%;
}

.input{
  margin: 10px;
  border: 1px solid gray;
}

.form button{
  margin: 10px 40%;
  width: 20%;
  
}

.result{
  background-color: rgb(175, 172, 172);
  margin-top: 70px;
  width: 50vw;
  border: 2px solid black;
}

.result h1{
  background-color: rgb(175, 172, 172);
}

.result h2{
  background-color: rgb(175, 172, 172);
}

.startBtn{
  margin: 10px 40%;
  width: 20%;
}

.startBtn a{
  color: black;
  text-decoration: none;
}